/*Topography*/
html {
  /* html font size=10 rem*/
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-Accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  color: var(--color-heading);
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/*Links*/
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-Accent);
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  transition: font-size 0.1s;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.2s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

.link-arrow:hover {
  font-size: 2.2rem;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
