<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout__heading">Ready To Get Started</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus officiis dolorum, ab quas a, laborum
                numquam nostrum aliquam voluptas debitis doloribus dolore. Ut quas consectetur, nostrum in eaque
                dicta delectus?</p>
        </div>
        <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
    </div>
</div>