<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Products 1</h2>
        <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque suscipit fugit repellendus hic, cum
        assumenda commodi rerum laboriosam dicta, dolor accusantium eveniet. Sequi quo unde esse deleniti
        nostrum sint quam.
    </div>
</div>
<script src="js/main.js"></script>