<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
            <use xlink:href="Images/sprite.svg#snap"></use>
        </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy Start & Managed Updates</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem quia voluptatum quaerat,
            exercitationem rem omnis animi magnam fuga facilis, eveniet qui maiores ipsam soluta impedit totam
            corrupti temporibus architecto! Minima impedit rerum saepe! Repudiandae esse libero modi maiores. Fugit,
            ipsa.</p>
    </div>
</div>