<div class="card testimonial">
    <div class="grid grid-1x2">
        <div class="testimonial__image">
            <img src="/Images/testimonial.jpg" alt="A Happy, Satisfied Customer">
            <span class="icon-container icon-container--accent">
                <svg class="icon icon--white icon--small">
                    <use xlink:href="Images/sprite.svg#quotes"></use>
                </svg>
            </span>
        </div>
        <blockquote class="quote">
            <p class="quote__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid recusandae sit
                reiciendis optio fuga,
                eligendi ducimus quisquam voluptatem natus ratione nemo suscipit animi unde iusto quod amet nam vel
                cumque
                ex sint, nisi quae vero quaerat. Iusto necessitatibus nobis provident?</p>
            <footer>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary quote__line">
                            <use xlink:href="Images/sprite.svg#line"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title quote__author">Jhonny Deep</h3>
                        <p class="quote__company">ABC company</p>
                    </div>
                </div>
            </footer>
        </blockquote>
    </div>
</div>